{% extends 'base.html.twig' %}



{% block body %}


<h1 class="mt-5 text-center"> Modifier mon compte </h1>
<div class="container-sm mt-5 ">


{{ form(form, {'method': 'POST'}) }}

</div>
{% endblock %}
