{% block body %}

	<div class="container-sm">


		<form action="{{ path('app_account_index') }}" method="post">


			<label for="username">Email:</label>
			<input required type="text" id="username" name="_username" value="{{ last_username }}">


			<label for="password">Password:</label>
			<input required type="password" id="password" name="_password">

			<button type="submit">Connexion</button>
		</form>
	</div>
{% endblock %}
