{% extends "base.html.twig" %}
{% block body %}
	<div class="container">
		<h1 s>Mes Squad</h1>
		<div class="row">
			{% for squad in squad %}
				<div class="col">
					<div class="row">
						{{squad.name}}
					</div>
					<div class="row">
						{{squad.id}}

					</div>


				</div>


			{% endfor %}
		</div>


	{% endblock %}
